@import '~variables'

.q-item-sublabel{
  color: var(--q-color-text2) !important
}
.q-item-label{
  color: var(--q-color-text1) !important
}
.q-if-label{
color: var(--q-color-text1) !important
}

.q-stepper-title{
  color:var(--q-color-text1) !important;
}
.q-stepper-tab{
  background: var(--q-color-bg2)
}

.router-link-active {
  background: var(--q-color-primary) !important;
}

.topbar.q-tabs-position-top .q-tabs-bar {
    top: 0;
}

.gradient-bg-primary{
  // background-image: linear-gradient(to right, ,  ) !important;
  background: linear-gradient(to bottom right,var(--q-color-primary), var(--q-color-primary-light));
}

.blur-details{
  background rgba(255, 255, 255, 0.1);
}

a {
  text-decoration: none;
  color: var(--q-color-primary-light);
  transition: all .2s ease-in-out;
}
a:hover{
  color: var(--q-color-text1);
}

.a2{
  text-decoration: none;
  color: var(--q-color-text1);
  transition: all .2s ease-in-out;
}
.a2:hover{
  color: var(--q-color-primary-light);
}

.big_logo{
  position:absolute;
  width:100%;
  height:100%;
  background-image: url('../extensions/branding/images/logo/background-logo-alpha-white.svg');
  background-repeat: no-repeat;
  
}
.bg-logo{
  background-image: url('../extensions/branding/images/logo/background-logo-alpha-white.svg');
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: bottom -260px right -250px;

}

.profile_image{
    // display: inline-block;
    border-radius: 50%;
    background-position: center center;
    background-size: cover; 
    border-radius:50%; 

    
}



/*these are the default quasar breakpoints
use these when you need to change additional
styles*/

/*xs  576px Extra small sized window*/
@media only screen and (max-width: 575px) {
  .profile_image_outer_wrap{
    transform: scale(0.5);
    top:30px !important;
    left:-15px
  }
  .profile_header_bottom_row{
    margin-left:16px !important;
  }
  .profile_header_top_row{
    margin-left: 80px !important;
  }


}

/*sm  768px Small sized window*/
@media only screen and (max-width: 767px) {
  /*.wp_col{
      border-left:0 !important;
      border-top:1px solid rgba(255,255,255,0.5);
      margin-bottom:15px !important;
      padding-top:20px !important;
  }*/
  .index-title{
    font-size:35px;
    
  }
  .index-description{
    font-size:16px;
  }


}
/*md  992px Medium-sized window*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/*lg  1200px  Large sized window*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/*xl  Infinite  Extra large sized window*/
@media only screen and (min-width: 1200px) {


}

/*xl+*/
@media only screen and (min-width: 1500px) {

}


/* right bounce */
.fa-arrow-right {
  animation: bounceRight 2s infinite;
  width:26px;
  padding-left:12px
}


@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  60% {
    -ms-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}
/* /right bounce */

.fa-vibrate{
  animation: vibrate 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
.fa-vibrate-y {
  animation: vibrate 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;

}

@keyframes vibrate {
  10%, 90% {
    transform: translate3d(0,-1px, 0);
  }
  
  20%, 80% {
    transform: translate3d( 0,2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d( 0,-2px, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
//Css eily
.profile_image.relative-position.animate-fade {
height: 100px !important;
width: 100px !important;
}
.q-item.q-item-division.relative-position.candidate_header {
padding: 50px;
}
.q-pa-md{
  background: #485aa3;
}
.bg-bg1.shadow-4.round-borders.q-pa-md.q-mb-md {
background: #fff6 !important;
}
.q-headline {
color: #fff;
}
.q-ma-none {
color: #fff;
}
